@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wgth@400;700;800family=Work+Sans:wgth@400;500;600;700;800display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;

    margin-right: 48px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.brand {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
}

.brand-desc {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.brand-para {
    color: #727272;
}

.btn-primary {
    border-radius: 4px;
    background: #FF900E;
    color: #FFF;
    border: 0;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.brand img {
    margin-top: 20px;
    width: 100%;
}

.section-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

main {
    max-width: 1240px;
    margin: 0 auto;


}

.teams {
    display: flex;
    align-items: center;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.quick {
    color: #727272;
}

.fr {
    color: #FF900E;
}

.teams-title {
    font-size: 45px;
    font-weight: 500;
}

.para {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.freature {
    display: flex;
    margin-top: 130px;
    gap: 140px;
}

.freature-img img {
    height: 80%;
    margin-left: 80px;

}

.freature-content .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.title {
    font-size: 45px;
    font-weight: 700;
}

.freature-content .section-title {
    font-size: 20px;
    font-weight: 600;
}

.ten-years {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 300px;
    height: 160px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 120px;
   
}

.ten-years h2 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;

}
.ten-years p{
font-size: 1.5rem;

}

.fax-container {
    display: flex;
    justify-content: space-around;
}

.freature-content .title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.fax-container .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px;
}

.fax-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #727272;
    margin-top: 2px;
}

.fax-container .card-stats {
    font-weight: 600;
    font-size: 2.5rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 2px;
}

.Sponspors {
    text-align: center;
}

.Sponspors .brand-para {
    margin-top: 20px;
}

.sopnspors-img {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
}

.foot {
    width: 1140px;
    height: 50px;
    border-radius: 8px;
    background: #FFF4E7;
    margin-top: 130px;
    margin-left: 150px;
    padding: 10px;
}

.foot .brand-para {

    text-align: center;
}



/* mobile divice */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams,
    .fax-container,
    .freature,
    .sopnspors-img {
        flex-direction: column;
    }

    .teams-img {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .fax-container {
        gap: 20px;
    }
    .freature-img img{
        width: 90%;
        margin: 0;
    }
    .ten-years{
        position: static;
        max-width: 300px;
    }
    .foot{
        max-width: 350px;
        margin-top: 20px;
        margin-left: 55px;
    }

}

/* meadium divice and tablet */
@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .teams,
    .freature,
    .sopnspors-img {
        flex-direction: column;
    }

    header {
        padding: 43px;
    }
    .foot{
        max-width: 450px;
        margin-top: 20px;
        margin-left: 55px;
    }

}